body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
}

#pagewrapper {
    margin: 0 auto;
    text-align: left;
    width: 1000px;
}

div#header {
    background-image: url("../img/logo.png");
    background-position: 0 20px;
    background-repeat: no-repeat;
    color: #aaaaaa;
    font-size: 40px;
    height: 74px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-style: italic;
    text-align: right;
}

.toppanel{
    background-color: #76B900;
    border-bottom: 1px solid #807F84;
    border-top: 1px solid #FFFFFF;
    clear: both;
    color: #FFFFFF;
    margin: 0;
    
}

.toppanel a, .toppanel span{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
}

.toppanel a:hover{
    background-color: #bbdd7f;
    color: #000;
}

fieldset{
    padding: 10px;
    margin-top: 20px;
}

fieldset.login{
    width: 300px;
}

#RegisterForm{
    width: 500px;
}

fieldset label{
    display: inline-block;
    width: 40%;
    padding: 5px;
}

div#content{
    border: 1px dashed #CCCCCC;
    border-top: 0px;
    padding: 5px 10px 20px 10px;
}

a{
    color: #0083CC;
    text-decoration: underline;
}

input.button{
    margin: 10px;
    padding: 5px;
}

ul.feedbackPanel{
    background: none repeat scroll 0 0 #FFF3F3;
    border: 1px solid red;
    color: #CC0000;
    margin: 10px 0 5px;
    padding: 5px 0;
    list-style: none outside none;
}

ul.feedbackPanel li{
    background: url("../img/red_info.png") no-repeat scroll 8px 0 transparent;
    line-height: 16px;
    padding-left: 30px;   
}

table.twocolumns{
    width: 100%;
}

table.twocolumns td{
    vertical-align: top;
}
